body{
    background-color: aqua;
    margin: 0;
}

button{
    background-color: blueviolet;
    border: solid black;
}

.container{
    background-color: white;
    width: 100vw;
    height: 100vh;

    display: grid;

    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 8fr 1fr;    
}

.header{
    grid-column: 1 / 4;
    grid-row: 1 / 2 ;
    background-color: rgb(152, 255, 240);
    font-size: 10mm;
    padding-left: 10 ;

}

.footer{
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    background-color: rgb(152, 255, 240);
    padding: 3mm;
}

.contentleft{
    grid-column: 1 / 2;
    grid-row: 2 / 3 ;
    background-color: rgb(216, 154, 255);
    padding: 3mm;
}

.contentmiddle{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: rgb(146, 148, 255);
    padding: 3mm;
}

.contentright{
    grid-column: 3 / 4;
    grid-row-start: 2 / 3;
    background-color: rgb(132, 206, 255);
    padding: 3mm;
}

#game_field {
    width: 200px;  
    height: 400px; 
    background-color: grey;  
    /*position: absolute;   Position it absolutely within its containing element */
    /*top: 50%;  /* Position the top edge of the square at 50% of its containing element's height (vertical center) */
    /*left: 50%;  /* Position the left edge of the square at 50% of its containing element's width (horizontal center) */
    /*transform: translate(-50%, -50%);  /* Center the square exactly in the middle of the page */
}

#myCanvas {
    background-color: gray; /* Set the canvas background color to gray*/
}
